@include component(header) {
  border-top: 4px solid $palette__e;
  padding: 20px 0;
  background: $palette__c;
  color: $palette__d;
  box-sizing: border-box;
  height: 70px;

  @include part(burger-menu) {
    font-size: 2rem;
    float: right;
    text-align: right;
    cursor: pointer;
  }

  @include part(logo-container) {
    float: left;
    height: 100%;
  }

  @include part(logo) {
    height: 40px;
  }
}