@include component(hero-banner) {

  @include transition-time(all,ease, 0.5s);
  height: calc(100vh - 70px);
  background: url(/assets/img/bg1.jpg) center;
  background-size: cover;
  text-align: center;
  width: 100%;
  position: relative;

  @include option(small) {
    height: calc(33.33vh - 70px);
  }
}